In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('/Users/Desktop/test.xlsx')

In [10]:
df.sort_values(by=['ID', 'Date'])
df.drop('Date', inplace=True, axis=1)

In [12]:
df

     ID  RiskRating
0   100         4.0
1   100         4.0
2   100         5.0
3   100         NaN
4   100         NaN
5   100         5.0
6   100         5.0
7   100         NaN
8   100         6.0
9   100         6.0
10  100         6.0
11  100         6.0
12  100         6.0
13  100         6.0
14  100         6.0
15  100         6.0
16  100         6.0
17  100         6.0
18  100         6.0
19  100         6.0
20  101         4.0
21  101         4.0
22  101         5.0
23  101         NaN
24  101         5.0
25  101         5.0
26  101         NaN
27  101         6.0
28  101         6.0
29  101         6.0
30  101         6.0
31  101         6.0
32  101         7.0
33  101         6.0
34  101         6.0
35  101         6.0
36  101         6.0
37  101         6.0
38  101         6.0
39  101         6.0
40  102         NaN
41  102         5.0
42  102         NaN
43  102         5.0
44  102         5.0
45  102         NaN
46  102         6.0
47  102         6.0
48  102         6.0
49  102         6.0
50  102         6.0
51  102         NaN
52  102         6.0
53  102         6.0
54  102         6.0
55  102         6.0
56  102         6.0
57  102         6.0
58  102         6.0
59  102         6.0

In [17]:
cols = ['RiskRating']
df[cols] = df.groupby('ID')[cols].ffill().fillna(0).astype(int)

In [19]:
df[cols].to_excel('/Users/Desktop/out.xlsx')